[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
jupyterlab = "*"
ipywidgets = "*"
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
gensim = "*"
torch = "*"
transformers = "*"
tqdm = "*"
openai = "*"
gradio = "*"
tiktoken = "*"
faiss-cpu = "*"
langchain-openai = "*"
langchain-experimental = "*"
langchain-chroma = "*"
langchain = {extras = ["docarray"], version = "*"}
datasets = "*"
matplotlib = "*"
google-generativeai = "*"
anthropic = "*"
scikit-learn = "*"
unstructured = "*"
chromadb = "*"
plotly = "*"
jupyter-dash = "*"
beautifulsoup4 = "*"
pydub = "*"
modal = "*"
ollama = "*"
accelerate = "*"
sentencepiece = "*"
psutil = "*"
speedtest-cli = "*"

[dev-packages]

[requires]
python_version = "3.11"
